{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./tsconfig.app.json",
      "./tsconfig.node.json",
      "vite.config.ts",
    ],
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/extensions": 0,
    // 테스트 또는 개발환경을 구성하는 파일에서는 devDependency 사용을 허용
    "import/no-extraneous-dependencies": 0,
    "react/button-has-type": 1,
    // 중복 선언 경고
    "@typescript-eslint/no-shadow": "warn",
  },
}
